{% import "bootstrap/wtf.html" as wtf %}
<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  <h4 class="modal-title" id="myModalLabel">编辑</h4>
</div>
<div class="modal-body">
  {{ form.name(id='my-text-field') }}
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-default" data-dismiss="modal" id="close-config">Close</button>
  <button type="submit" class="btn btn-primary" id="save-config" onclick="send_case(this)">Send</button>
</div>