{% extends "base.html" %}
{% import "_macros.html" as macros %}

{% block title %}NEXAPI{% endblock %}
{% block head %}
	{{ super() }}
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/json.css') }}">
{% endblock %}

{% block styles %}
  {{ super() }}
  <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/darkly/bootstrap.min.css"> -->
{% endblock %}

{% block page_content %}
<body background="{{ url_for('static', filename='images/huise3.jpg') }}"></body>
<ul id="myTab" class="nav nav-tabs">
  <li class="active"><a href="#case" data-toggle="tab">测试用例</a></li>
  <li><a href="#ios" data-toggle="tab">测试报告</a></li>
  <li><a href="#config" data-toggle="tab">测试配置</a></li>
</ul>
<div id="myTabContent" class="tab-content">
  <div class="tab-pane fade in active" id="case">{% include 'nexapi/_nex_api_case.html' %}</div>
  <div class="tab-pane fade" id="config">{% include 'nexapi/_nex_api_config.html' %}</div>
</div>
{% endblock %}

{% block scripts %}
	{{ super() }}
	<script>var $SCRIPT_ROOT = {{request.script_root|tojson|safe}}</script>
	<script src="{{ url_for('static', filename='js/nex_api.js') }}"></script>
{% endblock %}