{% extends "base.html" %}

{% block title %}服务器监控{% endblock %}
{% block head %}
    <script>var $SCRIPT_ROOT = {{request.script_root|tojson|safe}}</script>
    <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.js"></script>
    <script src="http://cdn.hcharts.cn/highcharts/highcharts.js"></script>
    <script type="https://img.hcharts.cn/highcharts/modules/exporting.js"></script>
    <script type="https://img.hcharts.cn/highcharts-plugins/highcharts-zh_CN.js"></script>
    {{ super() }}
{% endblock %}



{%- block page_content -%}

<body background="{{ url_for('static', filename='images/background.jpg') }}">
	<div id="container" >
		<script src="{{ url_for('static', filename='js/server_monitor.js') }}"></script>
	</div>
</body>

<!-- {% endblock %} -->



